body, article {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0;
  font-family: Verdana;
  background-color: #F1EEE8;
  z-index: -1;
  transform-style: preserve-3d;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header {
  position: relative;
  background-color: rgba(70, 70, 70, 0.8);
  height: 100px;
  color: white;
}

main {
  padding: 0 50px 0 50px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(70, 70, 70, 0.8);
  width: 100%;
  padding: 5px 50px 5px 50px;
  text-align: center;
  color: white;
}

nav {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: table;
  padding: 0 50px 0 50px;
  height: 30px;
}

nav > a {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: background-color 250ms;
}

nav > a:hover {
  background-color: orange;
}

#logo {
  position: absolute;
  top: 20px;
  width: 350px;
  margin: 0 0 0 50px;
  color: white;
}

#login {
  font-size: 12px;
  position: absolute;
  right: 50px;
  bottom: 3px;

}

#login a {
  color: white;
  font-size: 11px;
  text-decoration: none;
}

input {
  border: 1px rgba(0, 0, 0, 0.7) solid;
  height: 20px;
  border-radius: 3px;
  margin-top: 5px;
}

#login input[type="submit"] {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/assets/img/login.png");
  background-position: center;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  border: none;
  font-size: 30px;
  float: right;
  height: 45px;
  width: 50px;
  display: block;
  margin-left: 5px;
  vertical-align: middle;
}

#options {
  width: 90%;
  margin: auto;
  color: white;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-top: none;
  background-color: rgba(70, 70, 70, 0.8);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-align: center;
  padding: 10px;
}

#options select {
  border: none;
  margin: 0 20px 0 20px;
  width: 16%;
  height: 20px;
}

#options input[type="range"] {
  height: 15px;
  background: none;  margin: 0 20px 0 20px;
}

#register_popup {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
}

#register_popup div {
  width: 300px;
  margin: 10% auto;
  background-color: rgba(255, 255,255, 0.7);
  border:1px solid rgba(0, 0, 0, 0.5);
  padding:15px;
  text-align:center;
  border-radius: 10px;
}

#logged_in {
  padding-bottom: 10px;
}

#about_us {
  text-shadow: 1px 1px #c3c3c3;
  position: absolute;
  overflow: auto;
  top: 100px;
  bottom: 30px;
  left: 0;
  padding: 0 50px 0 50px;
  background-color: rgba(255, 255, 255, 0.8);
}

p {
  text-align: justify;
  text-indent: 30px;
}

img {
  border: 4px rgba(0, 0, 0, 0.5) solid;
  width: 180px;
  height: 220px;
  float: left;
}

.info {
  width: 80%;
  margin: 4px;
  text-indent: 0px;
  margin-left: 20px;
  float: left;
}

.student {
  float: right;
  margin-bottom: 30px;
}

.name {
  text-indent: 0px;
}

#notifications {
  color: white;
  margin: auto;
  width: 400px;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  background-color: rgba(70, 70, 70, 0.8);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

@-moz-document url-prefix() {
  select {
    background: url(/assets/img/arrow.png) no-repeat right #fff !important;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }

  a:-moz-focusring {
    outline: transparent;
  }
}

#profile {
  position: absolute;
  overflow: auto;
  top: 100px;
  bottom: 30px;
  width: 100%;
  left: 0;
  padding: 0 50px 0 50px;
  background-color: rgba(255, 255, 255, 0.8);
}

#forgotten_popup {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
}

#forgotten_popup div {
  width: 300px;
  margin: 10% auto;
  background-color: rgba(255, 255,255, 0.7);
  border:1px solid rgba(0, 0, 0, 0.5);
  padding:15px;
  text-align:center;
  border-radius: 10px;
}
