body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  font-family: Verdana;
  background-color: #F1EEE8;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header {
  position: relative;
  background-color: rgba(70, 70, 70, 0.8);
  height: 100px;
  color: white;
}

main {
  padding: 0 50px 0 50px;
}

main.old {
  position: absolute;
  left: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(70, 70, 70, 0.8);
  width: 100%;
  padding: 5px 50px 5px 50px;
  text-align: center;
  color: white;
}

nav {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: table;
  padding: 0 50px 0 50px;
  height: 30px;
}

nav > a {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: background-color 250ms;
}

nav > a:hover {
  background-color: orange;
}

#logo {
  position: absolute;
  top: 20px;
  width: 350px;
  margin: 0 0 0 50px;
  color: white;
}

#login {
  font-size: 12px;
  position: absolute;
  right: 50px;
  bottom: 3px;

}

#login a {
  color: white;
  font-size: 11px;
  text-decoration: none;
}

#login input {
  border: 1px rgba(0, 0, 0, 0.7) solid;
  height: 20px;
  border-radius: 3px;
  margin-top: 5px;
}

#login input[type="submit"] {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/assets/img/login.png");
  background-position: center;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  border: none;
  font-size: 30px;
  float: right;
  height: 45px;
  width: 50px;
  display: block;
  margin-left: 5px;
  vertical-align: middle;
}

#options {
  width: 90%;
  margin: auto;
  color: white;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-top: none;
  background-color: rgba(70, 70, 70, 0.8);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-align: center;
  padding: 10px;
}

#options select {
  border: none;
  margin: 0 20px 0 20px;
  width: 16%;
  height: 20px;
}

#options input[type="range"] {
  height: 15px;
  background: none;  margin: 0 20px 0 20px;
}

p {
  text-align: justify;
  text-indent: 30px;
}

img {
  border: 4px rgba(0, 0, 0, 0.5) solid;
  width: 180px;
  height: 220px;
  float: left;
}

#info {
  width: 80%;
  margin: 4px;
  text-indent: 0px;
  margin-left: 20px;
  float: left;
}

#student {
  float: right;
}

#name {
  text-indent: 0px;
}