<div id="about_us">
    <p>Този сайт е дело на възпитаниците на Факултета по математика и информатика към Софийски университет. Вдъхновен от основната идея на Hack FMI 3.0, а именно Hack for Charity, сайтът улеснява хората, които се занимават със спорт, като им предоставя възможност да се информират за най-близките места, където могат да практикуват любимия си спорт, както и цената за това, било то еднодневна, седмична или месечна.</p>
    <p>Проектът е реализиран от:</p>

    <div class="student">
        <p class="name"><b>Росен Рачев</b></p>
        <img src="/assets/img/rosen.png"/>
        <p class="info"> <b>От: </b>Разград</p>
        <p class="info"> <b>Учил в: </b>ПТГ Разград</p>
        <p class="info"> <b>Специалност: </b>Компютърни науки</p>
        <p class="info"> <b>Интереси: </b>Дизайн и анализ на алгоритми, Функционално програмиране, малко хардуер, малко мрежи, C, C++, Ruby. Всякакви интересни технологии, било то уеб или софтуерни технологии. Игри, както правенето, така и играенето им. </p>
        <p class="info"> <b>Информация: </b>Присъствал съм малко на лекциите по Руби от миналия семестър и ми се стори доста яко, така че реших да идвам на Python и да го науча малко по-задълбочено отколкото в момента го владея. Все още се ориентирам коя сфера в програмирането ми е най-интересна и често разглеждам нови за мен работи. Обичам нестандартните спортове и пържоли. </p>
    </div>

    <div class="student">
        <p class="name"><b>Драгомир Тунчев</b></p>
        <img src="/assets/img/drajence.jpg"/>
        <p class="info"> <b>От: </b>Варна</p>
        <p class="info"> <b>Учил в: </b>МГ Варна</p>
        <p class="info"> <b>Специалност: </b>Компютърни науки</p>
        <p class="info"> <b>Интереси: </b>Програмиране, Трикинг, Sci-fi, Физика (по-специално астрофизика и квантова механика), Медицина, Биология </p>
        <p class="info"> <b>Информация: </b>Занимавам се с програмиране от гимназията. Обичам да скачам и бягам. Мразя сън.. </p>
    </div>

    <div class="student">
        <p class="name"><b>Антонио Николов</b></p>
        <img src="/assets/img/antonio.jpg"/>
        <p class="info"> <b>От: </b>Монтана</p>
        <p class="info"> <b>Учил в: </b>ПМГ Монтана</p>
        <p class="info"> <b>Специалност: </b>Компютърни науки</p>
        <p class="info"> <b>Интереси: </b>Бойни спортове (ММА), FreeRun, ядене и програмиране </p>
        <p class="info"> <b>Информация: </b>Студент съм втори курс, специалност Комплютърни науки. През свободното си време обичам да спортувам. </p>
    </div>

    <div class="student">
        <p class="name"><b>Стефан Василев</b></p>
        <img src="/assets/img/stefan.jpg"/>
        <p class="info"> <b>От: </b>Монтана</p>
        <p class="info"> <b>Учил в: </b>ПМГ Монтана</p>
        <p class="info"> <b>Специалност: </b>Компютърни науки</p>
        <p class="info"> <b>Интереси: </b>Дизайн и анализ на алгоритми, Функционално програмиране, малко хардуер, малко мрежи, C, C++, Ruby. Всякакви интересни технологии, било то уеб или софтуерни технологии. Игри, както правенето, така и играенето им.</p>
        <p class="info"> <b>Информация: </b>Програмирам от осми клас, все още има много неща за учене, но имам и голямо желание.</p>
    </div>

    <div class="student">
        <p class="name"><b>Ангел Цанев</b></p>
        <img src="/assets/img/angel.jpg"/>
        <p class="info"> <b>От: </b>Разград</p>
        <p class="info"> <b>Учил в: </b>ПМГ Разград</p>
        <p class="info"> <b>Специалност: </b>Компютърни науки</p>
        <p class="info"> <b>Интереси: </b>Програмиране, Трикинг, Sci-fi, Физика (по-специално астрофизика и квантова механика), Медицина, Биология </p>
        <p class="info"> <b>Информация: </b>Завършил съм ПМГ Разград, специалност Математика. С програмиране, преди да вляза във ФМИ, съм се занимавал пренебрежимо малко (малко Pascal и Visual Basic). От както съм във ФМИ поназнайвам C++, Ruby и Java. Обичам да слушам музика и да спортувам. Не обичам варени моркови! </p>
    </div>

    <div class="student">
        <p class="name"><b>Янис Василев</b></p>
        <img src="/assets/img/aborigen.jpg"/>
        <p class="info"> <b>От: </b>Кабул</p>
        <p class="info"> <b>Учил в: </b>Кабул</p>
        <p class="info"> <b>Специалност: </b>Криминалистика</p>
        <p class="info"> <b>Интереси: </b>Не говори български.</p>
        <p class="info"> <b>Информация: </b>Колко пъти да казвам, че не говори български?</p>
    </div>
</div>
