<div id="content">
  {% if place %}
  <table id="upper_table">
    <tr>
      <td class="field" width="100" height="40">Място</td>
      <td class="field" width="100">Град</td>
      <td class="field" width="200">Адрес</td>
      <td class="field">Описание</td>
    </tr>
    <tr>
      <td class="value">{{ place.name }}</td>
      <td class="value">{{ place.city }}</td>
      <td class="value">{{ place.address }}</td>
      <td class="value">{{ place.description }}</td>
    </tr>
  </table>
  {% endif %}

  {% if place.photo_url %}
    <img src="{{ place.photo_url }}" alt="Image"/>
  {% endif %}

  {% if activities %}
  <table id="bottom_table">
    <tr>
      <td class="field">Дейност</td>
      <td class="field">С треньор</td>
      <td class="field">Работно време</td>
      <td class="field">Цена</td>
    </tr>
    {% for entry in activities %}
    <tr>
      <td>{{ entry.activity.name }}</td>
      <td >
      {% if entry.activity.has_trainer %}
        &#10004;
      {% else %}
        &#10008;
      {% endif %}
      </td>
      <td >
        {{ entry.activity.worktime }}
      </td>
      <td>
        {{ entry.activity.price }} лв.
      </td>
    </tr>
    {% endfor %}

  </table>
  {% endif %}
  <button id="back_button" onclick="history.back();">Назад</button>
</div>