<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Спортинатор</title>
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <article></article>

  <header>
    <nav>
    <a href="/home">Начало</a>
    <a href="/sports">Спортове</a>
    <a href="#">Събития</a>
    <a href="#">Профил</a>
    <a href="#">За нас</a>
    </nav>
    <div id="logo">
    <h1><a href="/home">Спортинатор</a></h1>
    </div>
    <div id="login">
    {% if not user.is_active %}
    <form method="post" action="/login">{% csrf_token %}
      <input type="submit" name="submit" value="" />
      <input type="text" placeholder="Username" name="username"/>
      <br />
      <input type="password" placeholder="Password" name="password"/>
    </form>
    <a href="#">Регистрация</a> / <a href="#">Забравена парола</a>
    {% else %}
      Здравей, {% firstof user.get_short_name user.get_username %}.
      <br />
      <a href="/logout">Изход</a>
    {% endif %}
    </div>
  </header>
  <main>
    {% block main %}{% endblock %}
  </main>

  <footer>
    <a href="#">#ПодайМонстъраТам</a>
  </footer>

  <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script src="/assets/js/map.js"></script>
  <script src="/assets/js/slide.js"></script>
</body>
</html>
