<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Спортинатор</title>
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <article></article>

  <header>
    <nav>
    <a href="/home">Начало</a>
    <a href="/sports">Търсене</a>
    {% if user.is_active %}
    <a href="/profile/{{ user.id }}">Профил</a>
    {% endif %}
    <a href="/about">За нас</a>
    </nav>
    <div id="logo">
    <h1><a href="/home">Спортинатор</a></h1>
    </div>
    <div id="login">
    {% if not user.is_active %}
    <form method="post" action="/login">{% csrf_token %}
      <input type="submit" name="submit" value="" />
      <input type="text" placeholder="Потребителско име" name="username" required />
      <br />
      <input type="password" placeholder="Парола" name="password" required />
    </form>
    <a href="" id="register_link">Регистрация</a> / <a id="forgotten_link" href="">Забравена парола</a>
    </div>
    {% else %}
    <div id="logged_in">
      Здравей, {% firstof user.get_short_name user.get_username %} | <a href="/logout">Изход</a>
    </div>
    {% endif %}
  </header>
  <main>
    {% if messages %}
      <div id="notifications">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </div>
    {% endif %}
    {% block main %}{% endblock %}
  </main>

  <footer>
    <a href="/about">#ПодайМонстъраТам</a>
  </footer>

  {% if not user.is_active %}
  <div id="register_popup">
    <div id="register_form">
      Регистрация
      <form method="post" action="/register">
          {% csrf_token %}
          <input placeholder="Потребителско име" type="text" name="username" required />
          <br />
          <input placeholder="Парола" type="password" name="password" required />
          <br />
          <input type="email" name="email" required placeholder="Email адрес" />
          <br />
          <input type="submit" name="submit" value="Регистрирай се" />
      </form>
    </div>
  </div>

  <div id="forgotten_popup">
    <div id="forgotten_form">
      Забравена парола
      <form method="post" action="/forgotten_password">
          {% csrf_token %}
          <input placeholder="Потребителско име" type="text" name="username" required />
          <br />
          <input type="email" name="email" required placeholder="Email адрес" />
          <br />
          <input type="submit" name="submit" value="Изпрати" />
      </form>
    </div>
  </div>
  {% endif %}

  <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script src="/assets/js/map.js"></script>
  <script src="/assets/js/slide.js"></script>
  <script src="/assets/js/popups.js"></script>
</body>
</html>
