<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Спортинатор</title>
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <article></article>
  <script src="/assets/js/geolocation.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script src="/assets/js/drawmap.js"></script>

  <header>
    <img id="logo_image" src="/assets/img/sports_logo.png" />
    <nav>
    <a href="/home">Начало</a>
    <a href="/sports">Търсене</a>
    <a href="/about">За нас</a>
    </nav>
    <div id="logo">
    <h3><i><a href="/home">С п о р т и н а т о р</a></i></h3>
    </div>
    <div id="login">
    {% if not user.is_active %}
    <form method="post" action="/login">{% csrf_token %}
      <input type="submit" name="submit" value="" />
      <input type="text" placeholder="Потребителско име" name="username" required />
      <br />
      <input type="password" placeholder="Парола" name="password" required />
    </form>
    <a href="" id="register_link">Регистрация</a> / <a id="forgotten_link" href="">Забравена парола</a>
    </div>
    {% else %}
    <div id="logged_in">
      Здравей, <a href="/profile/{{ user.id }}">{% firstof user.get_short_name user.get_username %}</a>!
      {% if user.is_staff %}
        | <a href="/admin">Админ</a>
      {% endif %}
       | <a href="/logout">Изход</a>
      
    </div>
    {% endif %}
  </header>
  <main>
    {% if messages %}
      <div id="notifications">
      {% for message in messages %}
        {{ message }}<br />
      {% endfor %}
      </div>
    {% endif %}
    {% block main %}{% endblock %}
  </main>

  <footer>
    <a href="/about">#ПодайМонстъраТам</a>
  </footer>

  {% if not user.is_active %}
  <div id="register_popup" class="modal">
    <div id="register_form">
      Регистрация
      <form method="post" action="/register" >
          {% csrf_token %}
          <input placeholder="Потребителско име" type="text" name="username" required />
          <br />
          <input placeholder="Парола" type="password" name="password" required />
          <br />
          <input type="email" name="email" required placeholder="Email адрес" />
          <br />
          <input type="submit" name="submit" value="Регистрирай се" />
      </form>
    </div>
  </div>

  <div id="forgotten_popup" class="modal">
    <div id="forgotten_form">
      Забравена парола
      <form method="post" action="/forgotten_password">
          {% csrf_token %}
          <input placeholder="Потребителско име" type="text" name="username" required />
          <br />
          <input type="email" name="email" required placeholder="Email адрес" />
          <br />
          <input type="submit" name="submit" value="Изпрати" />
      </form>
    </div>
  </div>

  {% else %}
  <div id="add" class="modal">
    <div>
      Ново място
      <form method="post" action="/add_place">
          {% csrf_token %}
          <input type="name" name="name" placeholder="Име на мястото" />
          <br />
          <textarea name="description" placeholder="Описание" ></textarea>
          <br />
          <input type="submit" name="submit" value="Изпрати" />
          <button onclick="body.document.removeChild(Map.AddModal);">Close</button>
      </form>
    </div>
  </div>
  {% endif %}

  <!-- <script src="/assets/js/slide.js"></script> -->
  <script src="/assets/js/popups.js"></script>
</body>
</html>
